<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Model\Config">
        <plugin name="Bay20_Sorting::addCustomSortOptions" type="Bay20\Sorting\Plugin\Model\Config" />
    </type>
    <type name="Magento\Catalog\Block\Product\ProductList\Toolbar">
        <plugin name="Bay20_Sorting::implementCustomSortOptions" type="Bay20\Sorting\Plugin\Product\ProductList\Toolbar" />
    </type>
</config>